@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    .container{
        height: 100%;
        align-content: center;
        }
        
        .card{
        height: 280px;
        margin-top: auto;
        margin-bottom: auto;
        
        background-color: rgba(0, 227, 248, 0.5) !important;
        }